<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502679206932-huchplre9sv3daidhvv1il14df43danl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502679206932-huchplre9sv3daidhvv1il14df43danl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502679206932-a3m9ubb2evdf9rdqptf5q3tu0un71s1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-0vh7mSLvd85Rl6QawBX6BtiAEstAAWE</string>
	<key>GCM_SENDER_ID</key>
	<string>502679206932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bouchareb.chatbox</string>
	<key>PROJECT_ID</key>
	<string>chatbox-3dac1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbox-3dac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502679206932:ios:d291ce964b962a08affb01</string>
	<key>DATABASE_URL</key>
	<string>https://chatbox-3dac1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>